{%  set article_show = path('article_show', { 'slug':article.slug }) %}
<article class="'mb-5 rounded">
    <div class="row">

        <div class="col-md-{{ leftCol ?? 5 }}">
            {% if article.featuredImage  %}
                <a href="{{ path('article_show', { 'slug': article.slug }) }}">
                    <img src="{{ asset('uploads/' ~ article.featuredImage.filename) }}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="300" height="" class="rounded-1 img-thumbnail shadow-lg">
                </a>
            {% endif %}
        </div>

        <div class="col-md-{{ rightCol ?? 7  }}">
            <h2>
                <a class="text-decoration-none" href="{{ article_show }}">{{ article.title }}</a>
            </h2>
            <p>
                {{ article.createdAt|date('d M Y') }}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    - <a class="text-decoration-none" href="{{ path('article_show', { 'slug': article.slug }) }}#comments">Laisser un commentaire</a>
                {% endif %}
            </p>
                {{ article.featuredText ?: article.content|striptags|slice(0, 160)~ '...' }}
        </div>
    </div>
    <br>
</article>